doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Customers
    link(rel='stylesheet' href='/bootstrap-4.5.0-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    
    body

        br
        br
        h2 Available Customers
        br
            

        table.table.table-hover
            thead.thead-dark
                tr
                    th(scope='col') Firstname
                    th(scope='col') Surname
                    th(scope='col') Phone Number
                    th(scope='col') Physical Address
                    th(scope='col')
                    th(scope='col')
                    th(scope='col')
            tbody
                each customer in customers
                    tr
                        td #{customer.firstName}
                        td #{customer.surName}
                        td #{customer.phoneNumber}
                        td #{customer.address} 
                        td(colspan="2")
                            //- form(method="post" action='/updating')
                            //-     input(type="hidden" name="id"  value=customer._id)
                            //-     button.btn.btn-dark.btn-block(type="submit") Update
                        td
                            form(method="post" action='/delete')
                                input(type="hidden" name="id" value=customer._id)
                                button.btn.btn-dark.btn-block(type="submit") Delete


        div#footer
            footer
                |  Covid-Stores &copy;2020