doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Items Available
    link(rel='stylesheet' href='/bootstrap-4.5.0-dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/styles.css')
    
    
body
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            img.logo(width="80vh;,height=100vh;" src="/images/covid.jpg" alt="")
            a.nav-link(style="color:rgb(218, 100, 32);font-weight: bolder; font-size: xxx-large; font-family: inherit;" href="/views/login.html") Covid Stores
            button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span.navbar-toggler-icon
            #navbarSupportedContent.collapse.navbar-collapse
                ul.nav.nabar-nav.ml-auto
                    li
                        a(href="/itemReg" style="color:white;") Add item
                    li
            #navbarSupportedContent.collapse.navbar-collapse
                    a.btn.btn-secondary(style="margin-left: auto;" href="/homePage" role="button") Sign out


    br
    h2 Available Items


        table.table.table-hover
            thead.thead-dark
                tr
                    th(scope='col') Item Name
                    th(scope='col') Item Make
                    th(scope='col') Serial Number
                    th(scope='col') Price
                    th(scope="col") Item Photo
                    th(scope='col') In stock
                    th(scope='col')
                    th(scope='col')
            tbody
                each item in items
                    tr
                        td #{item.itemName}
                        td #{item.itemMake}
                        td #{item.serialNumber}
                        td #{item.itemPrice}
                        td
                            img(src="/itemsPage/"+item.itemPhoto, width="100px" height="100px" alt="", srcset="")
                        td #{item.numberInStock} 
                        
                        td(colspan="2")
                            //- form(method="post" action='/updating')
                            //-     input(type="hidden" name="id"  value=item._id)
                            //-     button.btn.btn-dark.btn-block(type="submit") Update
                        td
                            form(method="post" action='/deleteitem')
                                input(type="hidden" name="id" value=item._id)
                                button.btn.btn-dark.btn-block(type="submit") Delete


        div#footer
            footer
                |  Covid-Stores &copy;2020
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous")
